*.pyc

*.sln
*.vcxproj
*.filters
*.sdf
*.suo
*.opensdf
*.user

.DS_Store
*.xcodeproj
*.xcworkspace
out_ios_arm64_v8a
out_ios_armeabi_v7a
out_ios_ia32
out_ios_x64

out_android_armeabi-v7a

base
build
buildtools
net
testing
third_party
tools

out
depot_tools
chromium
